# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать виртуальную среду Python
venv/
env/

# Игнорировать файлы настроек IDE
.idea/
*.sublime-workspace
*.vscode/

# Игнорировать файлы временных данных
*.log
*.pyc
__pycache__/

# Игнорировать папку с миграциями Django
*/migrations/

# Игнорировать локальные настройки
.env
